:root {
  /* Шрифты */
  --accent-font: 'Inter', sans-serif;
  --header-and-button-font: 'Press Start 2P', monospace;
  /* Размер шрифта */
  --main-font-size: 18px;
  --header-decoration-font-size: clamp(
    3.0625rem,
    2.7104rem + 1.5023vw,
    4.0625rem
  );
  --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-and-button-and-decoration-font-size: 14px;
  /* Размер svg */
  --svg-floppy-size: 21px;
  /* Толщина шрифта */
  --header-and-button-and-decoration-font-weight: 400;
  --main-title-font-weight: 785;
  --main-text-font-weight: 465;
  /* Основной цвет */
  --accent-color: rgb(0 204 20 / 1);
  --second-color: rgb(0 0 0 / 1);
  --button__text-color: rgb(0 204 20 / 1);
  --svg-heart-active-filling-color: rgb(255 0 0 / 1);
  --svg-heart-contour-color: rgb(0 204 20 / 1);
  --svg-floppy-color: rgb(0 204 20 / 1);
  --svg-floppy-fill-color: rgb(0 204 20 / 1);
  /* Фоновый градиент */
  --background-gradient: repeating-linear-gradient(
      270deg,
      black 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0deg, black 0 2px, transparent 0 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  /* Размер блоков */
  --inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  --footer-button-block-size: 55px;
  /* Отступы */
  --header-margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  --footer__button-svg-margin-inline-end: 8px;
  --footer__button-svg-margin-block-end: 0;
  --footer-button-padding: 0;
  --dialog-padding: 30px;
}

@media (width <= 375px) {

  :root {
    --footer-button-block-size: 82px;
    --svg-floppy-size: 29px;
    --footer__button-svg-margin-inline-end: 0;
    --footer__button-svg-margin-block-end: 7px;
    --footer-button-padding: 15px 18px;
    --dialog-padding: 30px 42px;
  }
}
